:root {
  --green: #72A581;
  --dark-green: #639773;
  --white: #ffffff;
  --soft-white: #f0f0f0;
  --desconto: #D07C5C;
  --review: #AB7E7E;

  --gray: #575757;
}

/* ------------------------------------------------------ */
/* ------ mudar propriedade/cor botão do bootstrap ------ */
/* ------------------------------------------------------ */

/* -------------  BUTTON GREEN  ------------- */
.btn_green {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}
.btn_green:hover {
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);  
}
.btn_green:focus {
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
  box-shadow: 0 0 0 .25rem rgba(114, 165, 129, 0.5);
  
}

.btn_outline_green {
  border-color: var(--green);
  color: var(--green);
}
.btn_outline_green:hover {
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);  
}


.btn-outline-success {
  color: var(--dark-green);
  border-color: var(--green);
}
.btn-outline-success:hover,
.btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
}
.btn-check:active + .btn-outline-success:focus, .btn-check:checked + .btn-outline-success:focus, 
.btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus, .btn-outline-success:active:focus {
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.5) !important;
}



/* --------------------------------------------------------- */
/* ---------------- ARTIGO INFO - objeto ------------------ */
/* --------------------------------------------------------- */
.myCanvas {
  background-color: khaki;
  height: 415px;
}

.artigo_info .descricao,
.artigo_info .avaliacao span  {
  font-size: smaller;
  color: gray;
}

.artigo_info .avaliacao {
  color: var(--review);
}

.artigo_info h3 {
  font-weight: bolder;
}

/* --------------------------------------------------------- */
/* ---------------- ARTIGO INFO - Lateral ------------------ */
/* --------------------------------------------------------- */

.line_btn .bx-heart {
  color: var(--green);
  cursor: pointer;
}

.btn_quantity_product {
  border-color: var(--green);
  color: var(--green);
}
.btn_quantity_product:hover {
  color: var(--green);  
}
.btn_quantity_product i:hover {
  color: var(--dark-green);  
}



/* ------ Btn Select Size + Color ----- */
.btn_option{
  border-top: 1px solid rgb(211, 211, 211);
  padding-top: 1rem;
}

.btn_option:hover p{
  text-decoration: underline;
}

.btn_opt p{
  font-weight: bolder;
  margin-bottom: .1rem;
}
.btn_opt .option_selected{
  font-size: smaller;
  color: gray;
}


/* ----- Trocas Devolucoes --- Envio ------ */
.section_envio .envio {
  border-bottom: 1px solid rgb(211, 211, 211);
  color: var(--gray);
}

.section_envio .envio p, .btn_gray {
  font-size: smaller;
}

.btn_gray {
  border-color: var(--gray);
  color: var(--gray);
}

.btn_gray:hover {
  border-color: var(--gray);
  background-color: var(--gray);
  color: white;
}




/* --------------------------------------------------------- */
/* ---------------- SLIDE SELECT OPTIONS ------------------ */
/* --------------------------------------------------------- */
label > input[type="radio"] {
  display: none;
}

#option_selected_color,
#option_selected_size {
  color: gray;
  font-size: smaller;
}

.offcanvas-body .select_btn {
  border: 1px solid rgb(211, 211, 211);
  height: 5rem;
  border-radius: .35rem;
  padding-left: .5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100%;
  align-items: center;
  display: flex;
}
.offcanvas-body .select_btn .img-fluid {
  height: 100%;
}

.offcanvas-body .select_btn:hover {
  text-decoration: underline;
  border-color: var(--green);
}

.offcanvas-body .select_btn.btn_selected {
  border: 2px solid var(--green);
}


.offcanvas-body .text-muted {
  cursor: default !important;
  text-decoration: line-through;
  color: rgb(128, 128, 128);
}
.offcanvas-body .text-muted:hover {
  text-decoration: line-through;
  border: 1px solid rgb(211, 211, 211);
}


.offcanvas-body {
  margin: 0 1.5rem;
}





/* ----- prop. bootstrap ----- */
.offcanvas-end {
  width: 450px;
  border-left: none;
}
.offcanvas-header h5 {
  margin-top: 5rem;
  margin-left: 1.5rem;
  font-weight: bolder;
}
.offcanvas-header .btn-close{
  margin-right: 1.5rem;
  margin-bottom: 4rem;
}

/* --------------------------------------------------------- */
/* --------------------- DESCRICAO  ------------------------ */
/* --------------------------------------------------------- */


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--green);
  background-color: transparent;
}
.nav-pills .nav-link {
  border-radius: 0;
}
.nav-link {
  color: var(--gray);
}
.nav-link:hover {
  color: black;
}










/* ---------------  ver mais  --------------- */
.ver_mais_descrition {
  border-top: solid 1px #adadad;
  padding-top: 1rem;
  margin-bottom: 35rem;
}

