:root {
  --green: #72A581;
  --dark-green: #639773;
  --white: #ffffff;
  --soft-white: #f0f0f0;
  --desconto: #D07C5C;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Amiko", sans-serif;
}

/* -------------  BUTTON GREEN  ------------- */
.btn_green {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}
.btn_green:hover {
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);  
}
.btn_green:focus {
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
  box-shadow: 0 0 0 .25rem rgba(114, 165, 129, 0.5);
  
}

/* -------------  INPUT GREEN  ------------- */
.newsletter .form-control:focus {
  box-shadow: 0 0 0 .25rem rgba(114, 165, 129, 0.5);
  border-color: var(--green);
}

.form-control::placeholder {
  color: #6c757d85;
}



/* ---------------------------------------------- */
/* ---------------  TOP MENU INFO --------------- */
/* ---------------------------------------------- */
.top_info{
  background-color: var(--green);
  color: var(--white);
}

.top_info .btn{
  color: var(--white);
}
.top_info .btn:focus {
  box-shadow: none;  
}
.top_info .bxs-phone{
  margin-left: 2rem;
}
.top_info .contacts p{
  font-size: small;
  margin-bottom: 0;
}
.top_info .bx{
  margin-right: .5rem;
}


/* ----------------------------------------------------------------- */
/* ---------------  FILTROS  +  ALTER COLOR BOOTSTRAP --------------- */
/* ----------------------------------------------------------------- */

.total_artigos, .ordenar_artigos {
  font-size: smaller;
}
.accordion-button{
  font-size: small;
}
.filtros button {
  font-size: smaller;
  padding-top: .5rem;
}

.info_artigos .accordion-button {
  padding: 1rem 0 0 0;
}

/* ---- color btn bootstrap ---- */
.btn-outline-success {
  color: var(--dark-green);
  border-color: var(--green);
}
.btn-outline-success:hover,
.btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
}
.btn-check:active + .btn-outline-success:focus, .btn-check:checked + .btn-outline-success:focus, 
.btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus, .btn-outline-success:active:focus {
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.5) !important;
}

/* ----------------------------------------------------------------- */
/* ------------------- BANNER - IMG + breadcrumb ------------------- */
/* ----------------------------------------------------------------- */
.card_banner .card .moveis{ /* IMG dos moveis */
  background: url(../img/moveis_img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}
.card_banner .card .mesas_jardim{ /* IMG das mesas de jardim */
  background: url(../img/moveis_jardim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}
.card_banner .card {
  border: none;
}
.card_banner .card-body {
  font-size: x-large;
  font-weight: 600;
  text-transform: uppercase; 
  padding: 100px 0; 
}

.breadcrumb{
  margin-top: 1rem;
  font-size: small;
}
.breadcrumb a{
  color: var(--green);
  text-decoration: none;
}




/* ---------------------------------------------- */
/* ---------------  LISTA ARTIGOS --------------- */
/* ---------------------------------------------- */

.content {
  width: calc(100% - (175px + 3rem));
  float: right;
}
.content .info_artigos{
  border-bottom: solid 1px #adadad;
  padding-bottom: 5px;
}
.content .info_artigos p{
  color: gray;
}


.card_list .card-body p{
  font-size: small;
  font-weight: unset;
}
.card_list .btn {
  padding-top: .5rem;
}
.card_list .btn .bx {
  color: white;
}
.button_and_icon .bx{
  color: var(--green);
  cursor: pointer;
}

/* ------------- PRECO -------------- */

.text_preco p{
  color: var(--desconto);
}

/* ------------- DESCONTO ------------ */
.card_list .btn_desconto {
  background-color: var(--desconto);
  color: var(--white);
  position: absolute;
  min-width: 70px;
  top: 10px;
  left: calc(100% - 80px);
  margin: auto;
  padding: .6rem 1rem .5rem 1rem;
  border-radius: .25rem;
}


/* ---------- CARD ARTIGO HOVER  --------- */
.card_item .card{ 
  height: 100%;
  margin-bottom: 2rem;
  transition: all .3s ease-in-out;
  border: none;
  cursor: pointer;
}
.card_item .card:hover {
  z-index:100;
  height: calc(100% + 20px);  
  transform: scale(1.07, 1.07);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}

.card_item .card .button_and_icon {
  position: absolute;
  transition: all .2s linear;
  bottom: 0;
  width: 100%;
  opacity: 0;
  box-shadow: none;
}
.card_item .card:hover .button_and_icon  {
  opacity: 1;
}




/* ---------------  ver mais  --------------- */
.ver_mais {
  border-top: solid 1px #adadad;
  padding-top: 1rem;
  margin-top: 2rem;
  margin-bottom: 35rem;
}
.ver_mais p {
  color: gray;
}
.ver_mais .btn {
  padding-top: .5rem;
  width: 10rem;
}
.ver_mais p {
  width: calc(50% - 5rem);
}

/* ------------------------------------------- */
/* ---------------  NEWSLETTER --------------- */
/* ------------------------------------------- */
.newsletter {
  border: 2px solid var(--green);  
  background-color: var(--white);
  position: relative;
  top: -3rem;
  margin-top: -2rem;
}
.newsletter h5 {
  color: var(--green);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}
.newsletter p {
  font-size: small;
  color: gray;
}
.newsletter .btn {
  text-transform: uppercase;
  font-weight: 600;  
}


/* --------------------------------------- */
/* ---------------  FOOTER --------------- */
/* --------------------------------------- */
.footer {
  background-color: var(--green);
  color: var(--white);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer h6, 
.footer .link_footer,
.footer .botom-parte {
  font-size: small;
}

.footer h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.footer .link_footer{
  display: flex;
  flex-direction: column;
  margin: .4rem auto;
}

/* remove link underline*/
.footer .sections a,
.footer .social-media a {
  color: var(--soft-white);
  text-decoration: none;
  cursor: pointer;
}

hr{
  margin: .8rem 0;
}

.social-media .bx {
  margin: 1rem .7rem 0 0;
  font-size: 1.3rem;  
}

.footer .botom-parte .link {
  padding-left: 2rem;
  color: var(--soft-white);
  cursor: pointer;
}


/* --- footer hover effect --- */
.footer .link_footer:hover{
  text-decoration: underline;
}

/* -- footer metodos pagamento IMG*/
.box_container{  
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;  
  margin-left: auto;
  margin-right: auto;
}
.box_img{
  background-color: white;
  border-radius: .3rem;
  margin: 0 5px 5px 0;
  padding: .5rem;
}
.box_img img{
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


