:root {
  --green: #72A581;
  --dark-green: #639773;
  --white: #ffffff;
  --soft-white: #f0f0f0;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Amiko", sans-serif;
}

/* -------------  BUTTON GREEN  ------------- */
.btn_green {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}
.btn_green:hover {
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);  
}
.btn_green:focus {
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
  box-shadow: 0 0 0 .25rem rgba(114, 165, 129, 0.5);
  
}

/* -------------  INPUT GREEN  ------------- */
.newsletter .form-control:focus {
  box-shadow: 0 0 0 .25rem rgba(114, 165, 129, 0.5);
  border-color: var(--green);
}

.form-control::placeholder {
  color: #6c757d85;
}



/* ---------------------------------------------- */
/* ---------------  TOP MENU INFO --------------- */
/* ---------------------------------------------- */
.top_info{
  background-color: var(--green);
  color: var(--white);
}

.top_info .btn{
  color: var(--white);
}
.top_info .btn:focus {
  box-shadow: none;  
}
.top_info .bxs-phone{
  margin-left: 2rem;
}
.top_info .contacts p{
  font-size: small;
  margin-bottom: 0;
}
.top_info .bx{
  margin-right: .5rem;
}


/* ----------------------------------------------- */
/* --------------- MENU - HEATHER  --------------- */
/* ----------------------------------------------- */

.menu_icons{
  cursor: pointer;
}



/* ----------------------------------------------------------------- */
/* ------------------- BANNER - IMG + breadcrumb ------------------- */
/* ----------------------------------------------------------------- */
.card {
  background: url(../img/moveis_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}
.card-body {
  font-size: x-large;
  font-weight: 600;
  text-transform: uppercase; 
  padding: 100px 0; 
}

.breadcrumb{
  margin-top: 1rem;
  font-size: small;
}
.breadcrumb a{
  color: var(--green);
  text-decoration: none;
}

/* ------------------------------------------- */
/* ---------------  NEWSLETTER --------------- */
/* ------------------------------------------- */
.newsletter {
  border: 2px solid var(--green);  
  background-color: var(--white);
  position: relative;
  top: -3rem;
  margin-top: -2rem;
}
.newsletter h5 {
  color: var(--green);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}
.newsletter p {
  font-size: small;
  color: gray;
}
.newsletter .btn {
  text-transform: uppercase;
  font-weight: 600;  
}


/* --------------------------------------- */
/* ---------------  FOOTER --------------- */
/* --------------------------------------- */
.footer {
  background-color: var(--green);
  color: var(--white);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer h6, 
.footer .link_footer,
.footer .botom-parte {
  font-size: small;
}

.footer h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.footer .link_footer{
  display: flex;
  flex-direction: column;
  margin: .4rem auto;
}

/* remove link underline*/
.footer .sections a,
.footer .social-media a {
  color: var(--soft-white);
  text-decoration: none;
  cursor: pointer;
}

hr{
  margin: .8rem 0;
}

.social-media .bx {
  margin: 1rem .7rem 0 0;
  font-size: 1.3rem;  
}

.footer .botom-parte .link {
  padding-left: 2rem;
  color: var(--soft-white);
  cursor: pointer;
}


/* --- footer hover effect --- */
.footer .link_footer:hover{
  text-decoration: underline;
}

/* -- footer metodos pagamento IMG*/
.box_container{  
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;  
  margin-left: auto;
  margin-right: auto;
}
.box_img{
  background-color: white;
  border-radius: .3rem;
  margin: 0 5px 5px 0;
  padding: .5rem;
}
.box_img img{
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


